/* The background color of the pages will be 'Cafe' */
body {background-color: #7b573e;}

/*Footer styling*/
footer{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
}

/*The Header will also have Wine colored bars*/
/* Set the font for the headings and links */
h2, h3, a {
    background-color: #5e1211; 
    color: #D8C6B8; 
    overflow:hidden;
     font-family: 'klinic_slabbold', Arial, sans-serif;
}
    /*The style for the table holding menu items.*/
      table, tr, td {
      border: 3px solid #5e1211;
      margin: auto;
       }
      
      tr, td{
      padding: 15px;
      text-align: left;
      
      }

/*The font color for page will be 'Cannoli'*/
  body {color: #D8C6B8;font-size: 30px;}


/*Container for nav bar elements*/
.flexNav{
    display: flex;
    background-color: #5e1211;
    flex-direction: row;
    color: #D8C6B8;
    font-size: 2rem;
    justify-content: space-between;
    
}   

/*Styling for 'a' elements*/
a {color: #D8C6B8;
  padding: 10px;}
  
/*Container for tables on menu page*/
.flexTable{
    display: flex;
    flex-direction: column;
}

/*container for logo*/
.flexLogo {
    display:flex;
    justify-content:center;
    align-content: stretch;
}

/*Container for first content with photo*/
.flexContent {
    display: flex;
    font-size: 35px;
    align-items:center;
    align-content:center;
    
    
}

#contentImage {
    padding: 40px 10px 10px 10px;
    min-width: 50%;
    min-height: 75%;
    flex-grow: 0;
    float:left;
    width:50%;
    height:50%;
  
    
}
/*Size of images*/
img{
    width:50%;
    height:50%;
}

/*Styling for text in main content element, at beginning of page*/
#contentText{
    flex-grow: 3;
    margin: auto;
 
}

#introP {
    font-size: 50px;
}
#h2MS, #pMS {
    position:relative
   
}

/* Set the font for the page, p elements */
p { font-family: 'klinic_slabmedium', Arial, sans-serif; }



      
    /* The style for the captions above the table*/
      caption{
      font-size: 40px;
          
      }
    /*The style to keep images centered*/
    #menuPic {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 50%;
    } 
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 7, 2020 */


@font-face {
    font-family: 'klinic_slabbold';
    src: url('klinicslabbold-webfont.woff2') format('woff2'),
         url('klinicslabbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'klinic_slabbold_italic';
    src: url('klinicslabboldit-webfont.woff2') format('woff2'),
         url('klinicslabboldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'klinic_slabbook';
    src: url('klinicslabbook-webfont.woff2') format('woff2'),
         url('klinicslabbook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'klinic_slabbook_italic';
    src: url('klinicslabbookit-webfont.woff2') format('woff2'),
         url('klinicslabbookit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'klinic_slablight';
    src: url('klinicslablight-webfont.woff2') format('woff2'),
         url('klinicslablight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'klinic_slablight_italic';
    src: url('klinicslablightit-webfont.woff2') format('woff2'),
         url('klinicslablightit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'klinic_slabmedium';
    src: url('klinicslabmedium-webfont.woff2') format('woff2'),
         url('klinicslabmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'klinic_slabmedium_italic';
    src: url('klinicslabmediumit-webfont.woff2') format('woff2'),
         url('klinicslabmediumit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
